{% extends "shop/base.html" %}

{% block title %}
  Checkout
{% endblock %}

{% block content %}
  <h1 class="w3-center">Checkout</h1>
    
  <div class="order-info">
    <h3 style="color:#000080;">Your order</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }}
        </li>
      {% endfor %}
    </ul>
  </div>
    
  <form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Place order" style="background-color:#000080; color:#fff;"></p>
    {% csrf_token %}
  </form>
{% endblock %}