{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Home | Library{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
  <link href ="{% static 'css/w3.css' %}" rel="stylesheet">
</head>
<style>
h1, h2, h3, h4, h5 , h6 { 
    font-family: 'Palatino', serif; font-weight:bold;
}
.w3-tag{height:15px;width:15px;padding:0;margin-top:6px}
</style>
<body>

<!--Navbar-->
<div class="w3-top">
  <ul class="w3-navbar w3-blue w3-wide w3-padding-8 w3-card-2">
    <li>
        <a href="{% url 'shop:home'%}" class="w3-padding-large w3-hover-white w3-left">HOME</a>
        <a href="/" class="w3-padding-large w3-hover-white w3-left">BOOK COLLECTION</a>
    </li>
  </ul>
</div>

<!--Subheader-->
<div class="w3-white "id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
        {% if cart|length > 0 %}
        Your cart: 
        <a href="{% url "cart:cart_detail" %}">
        {{ total_items }} item{{ total_items|pluralize }}
        </a>
        {% else %}
        Your cart is empty.
        {% endif %}
        {% endwith %}
    </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-opacity-max" src="/static/img/books2.jpg" width="1500" height="500">
  <div class="w3-display-middle w3-center w3-margin-top" style="white-space:nowrap;">
        <h2>SEARCH FOR A BOOK TITLE BELOW:</h2>
        <br>
        {% block content %}
            <form method="" action="get">
            {% csrf_token %}
                <input style="height:50px;width:500px;" id="search_key" name="search_term" type="text" placeholder="Enter book name here.">
            <br>
            <br>
                <input type="submit" value="Search" style="background-color:#000080;">
            </form>
    </div>
        {% endblock %}
  </div>
</header>

<!---Footer--->
<footer class="w3-center w3-blue w3-padding-16">
    <p>Designed by Sharayah, Daisuke, and Bonnie</p>
</footer>
</body>
</html>